
.container {
    display: grid;
    grid-template-columns: 50% auto;
    margin-left: 0;
}

.col {
    padding: .4em 1.3em;
}

.col-2 {
    padding: 1.3em;
}

.add-btn {
    background-color: rgb(107, 107, 107);
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    padding-top: 8px;
}

.color-dark {
    background: #2D2E2E;
}

.color-light {
    background: rgb(107, 107, 107);
}

.button {
    border: 0;
    color: rgb(87, 87, 87);
    cursor: pointer;
    padding: 5px;
    margin-left: .5em;
}

.btn {
    background-color: rgb(87, 87, 87);
    color: white;
    border: none;
    cursor: pointer;
}

input.txt {
    border: 0;
    padding: 1em;
    margin-bottom: 2em;
    width: 76%;
}

.life-container {
    background: rgb(87, 87, 87);
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}