
<div class="container">
  <div id="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="">
            <i class="material-icons">assignment</i>
          </a>
        </li>
        <li>
          <a routerLink="about">
            <i class="material-icons">assignment_ind</i>
          </a>
        </li>
        <!-- <li>
          <a routerLink="completedtasks">
            <i class="material-icon">check_circle</i>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
